#WidgetButton
{
    min-width: 90%;
    font-size: large;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: seagreen;
    color: white;
    border: 1.5px solid seagreen;
    transition-duration: 0.4s;
}

#WidgetButton:hover
{
    background-color: mediumseagreen;
    color: white;
    border: 1.5px solid seagreen;
}

.SlicerMain
{
    min-width: 100%;
}

.ModelViewerContainer
{
    border-radius: 10px;
    background-color: lightgrey;
}

#ModelViewer
{
    min-width: 100%;
    min-height: 29vw;
}

#LeftColumn
{
    width: 49%;
    float: left;
}

#RightColumn
{
    width: 49%;
    float: right;
}

#SliceButton
{
    font-size: large;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 4em;
    background-color: seagreen;
    color: white;
    border: 1.5px solid seagreen;
    transition-duration: 0.4s;
    margin-bottom: 20px;
}

#SliceButton:hover
{
    background-color: mediumseagreen;
    color: white;
    border: 1.5px solid seagreen;
}

input, select
{
    border-width: 1.5px;
    border-color: grey;
    margin: 2px;
    border-radius: 9px;
    padding: 3px;
    background-color: whitesmoke;
}

input[type="checkbox"]
{
    margin-left: 10px;
    transform:scale(1.2, 1.2);
    border-width: 1.5px;
    border-color: black;
    vertical-align:middle;
}

label
{
    font-weight: bold;
}

#DownloadLink > button
{
    background-color: #e6d737;
    padding: 10px;
}

#DownloadLink > button:hover
{
    background-color: var(--brandColour);
}

#ProcessingBanner
{
    background-color: var(--smallScreenLiveColour);
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: calc(100% - 4em);
    z-index: 999;
    border-radius: 10px;
    display: none;
}

.ProcessingMessageContainer
{
    margin: auto;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 1em;
    min-width: 10em;
    max-width: 30em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table
{
    width: 100%;
}